
header {
  height: 600px;

  
  
  position: relative; }
  header .myNavbar {
    min-height: 120px;
    transition: all 1s; }
    header .myNavbar ul.nav {
      margin-top: 30px; }
      header .myNavbar ul.nav a {
        color: #000; }
  header .navbar-inverse {
    min-height: 50px; }
    header .navbar-inverse ul.nav {
      margin-top: 0; }
      header .navbar-inverse ul.nav a {
        color:#fff !important; }
    header .navbar-inverse .navbar-brand {
      margin: 0;
      padding: 0; }
    header .navbar-inverse .logo {
      height: 50px; }
  header .btn-arrow-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: red;
    font-size: 40px;
    transform: translateX(-50%); }
  


.foto1{
    position: relative;
}
.foto2{
    position: absolute;
    top:85%;
    left: 30%
}
.books{
  display: block;
 
}

.boook{
  margin-top:100px;
}
.boook i{
  margin-top:30px;
}
.boook i{
  
color: green;
margin-right: 15px;
font-size: 30px;
}
.boook p{
  margin-top:30px;
}
.boook a{
  margin-top: 50px;
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: #f9ad40;
  border-radius: 10%;
  
}
.boook a:hover{
  color: #fff;
  background-color: #15aecf;
  border-color: #15aecf;
}

.contenta{
  margin-top:100px;
  height: 500px;
 background-image: url(https://livedemo00.template-help.com/wt_62311/images/backgrounds/bg-2.jpg);
 
 background-size: cover
}
#ammazing{
  margin-top:20px;
}
.karen{
  margin-top:50px;
  
}
.btn{
  width: 200px;
  color: #fff;
  background-color: #f9ad40;
  border-color: #f9ad40;
}
.btn:hover{
  color: #fff;
  background-color: #15aecf;
  border-color: #15aecf;
}
.never12{
  width: 100%;
padding: 50px 0;
position: relative;
transition: background 3s

}
.sah{
  margin:0 auto;
}
.never21{
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: visibility  1s
}
.never12:hover{
  background: white
}
.never12:hover>.never21{
  visibility: visible;;
  
}