.sas{
    background: #777;
    /* height: 600px; */
  
}
.business{
    margin-top:50px;
}

ul li{
    list-style-type: none;
}
.arow li{
    float: left;
}
.img-header{
    background: url(https://livedemo00.template-help.com/wt_62311/images/backgrounds/bg-breadcrumbs.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}
.coaching{
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

.arow li{
    width: 50px; 
    height: 30px;
    border:  1px solid black;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: #f9ad40;

}
.aa{
    margin-top: 100px;
}
.twiter i{
    color: #f9ad40;
}
.executive a{
color: #15aecf;
}
.arow li a{
    color: #fff;
}
.btn{
    width: 120px;
    height: 40px;
    border:1px solid #15aecf;
    color: #fff;
    background-color: #15aecf;
    border-color: #15aecf;
    border-radius: 30px;
    margin-right: 50px;
}
.btn:hover{
    color: #fff;
    background-color: #f9ad40;
    border-color: #f9ad40;
}
.shah{
    background:white;
    height: 400px;
}
.shah i{
color:#f9ad40;
}
.shah a{
    text-decoration: none;
}
.shah a:hover{
    color:#f9ad40;
}
.howtocreate{
    margin-top: 40px;
}





header {
    height: 600px;
  
    
    
    position: relative; }
    header .myNavbar {
      min-height: 120px;
      transition: all 1s; }
      header .myNavbar ul.nav {
        margin-top: 30px; }
        header .myNavbar ul.nav a {
          color: #000; }
    header .navbar-inverse {
      min-height: 50px; }
      header .navbar-inverse ul.nav {
        margin-top: 0; }
        header .navbar-inverse ul.nav a {
          color:#000 !important; }
      header .navbar-inverse .navbar-brand {
        margin: 0;
        padding: 0; }
      header .navbar-inverse .logo {
        height: 50px; }
    header .btn-arrow-down {
      position: absolute;
      bottom: 10px;
      left: 50%;
      color: red;
      font-size: 40px;
      transform: translateX(-50%); }
    